/* Normalizar   
{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
*/
:root{
    --gold:#F4D03F;
    --green: #008000;
    --white: #FFFFFF;
    --orange: #FFA500;
    --purple:#800080;
    --yellow: #FFFF00;
    --black: #000000;
    --darkblue: #00008B;
    --lightblue: #ADD8E6;
}
body{
    background:linear-gradient(to bottom, var(--gold), var(--purple));
    height: 100vh;
    font-family: 'Mystery Quest', cursiva, sans-serif;}

/*Container*/

.container{
    max-width:80%;
    width:400px;
    height:600px;
    margin:0 auto;
}

/*perfil*/

.perfil h1{
    color:var(--white)}
.perfil span{
    color:var(--white);
    letter-spacing: 1px;}
#fecha{
    color:var(--white);
    padding:50px 0 5px 0;}

/*agregar-tarea*/
.agregar-tarea{
    background-color:var(--white);
    border-radius: 15px;
    height: 70px;
    display:flex;
    align-items: center;
    padding:10px;
    gap:70px;
    margin: 40px 0;
}
.agregar-tarea input{
    width:100%;
    border-radius: 8px;
    border:none;
    background-color: var(--white);
    padding-left: 10px;
}
.agregar-tarea i{
    font-size: 50px;
    color:var(--purple);
}
.agregar-tarea i:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.agregar-tarea input::placeholder{
    font-size: 1.1rem;
    color:var(--purple);}

/* sección-tarea*/

.seccion-tarea h3{
    color:var(--white);
    margin-bottom:20px;}
.seccion-tarea li{
    display:flex;
    background: linear-gradient(to bottom,var(--darkblue),var(--green));
    border-radius:15px;
    padding:10px;
    align-items: center;
    justify-content: space-between; 
    margin:5px 0;
    color:var(--lightblue);}

.seccion-tarea i{
    font-size: 25px;}
.seccion-tarea i:hover{
    color: var(--black);
    cursor: pointer;}
.seccion-tarea > ul p{
    font-size: 1.2rem;
}
.line-through{
    text-decoration: line-through;
    color:var(--lightblue);}